/* Стили для кнопок */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.burger {
  display: flex;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../icon/burger.svg);
  background-color: white;
}

.call {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../icon/call.svg);
  background-color: white;
}

.chat {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../icon/chat.svg);
  background-color: white;
}

.profile {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../icon/profile.svg);
  background-color: white;
}

.repair {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../icon/repair.svg);
  background-color: white;
}

.checkstatus {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../icon/checkstatus.svg);
  background-color: white;
}
