@import url(./header.css);
@import url(./main.css);
@import url(./buttons.css);

/* Альтернативная блочная модель */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Убираем отступы */
body {
  margin: 0;
  padding: 0;
}

/* Подключаем шрифт */

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTlakes-regular/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTlakes-regular/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTlakes-regular/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTlakes-medium/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTlakes-medium/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTlakes-medium/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTlakes-bold/TTLakesCondensed-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTlakes-bold/TTLakesCondensed-Bold.woff") format("woff"),
    url("../fonts/TTlakes-bold/TTLakesCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Обертка */
.wrapper {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  flex-direction: column;
  font-family: "TT Lakes";
}
